{
  "parser": "babel-eslint",
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "global-require": 0,
    "operator-linebreak": [2, "after"],
    "no-param-reassign": 1,
    "prefer-destructuring": [2, { "array": false, "object": false }, { "enforceForRenamedProperties": false }],
  },
}
